# Copy this to .env and fill in real values.

# Password required to access the site.
LOGIN_PASSWORD=YOUR_WEB_ACCESS_PASSWORD

# Google Maps JavaScript API key. Must have:
#   - Maps JavaScript API
#   - GeoCoding API
#   - Street View Static API (optional)
# enabled in your Google Cloud project.
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

# Secret used to sign session cookies. (A.K.A. a long string)
SESSION_SECRET=YOUR_SESSION_SECRET

# Port to listen on.
PORT=3000
